gmao_venv/
gmao/__pycache__
.idea
db.sqlite3
ASSETS/__pycache__/
ASSETS/migrations/__pycache__/
gmao/.my_pgpass
ASSETS/models/__pycache__/
pictures/
ASSETS/serializers/__pycache__/
ASSETS/views/__pycache__/
WORKS/migrations/__pycache__/
WORKS/__pycache__/
WORKS/views/__pycache__/
WORKS/models/__pycache__/
WORKS/serializers/__pycache__/
HR/__pycache__/
